.Body {
    padding: 25px;
    text-align: center;
    align-self: center;
    font: center;
    width: fit-content;
}

.Form {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 40px;
    padding: 25px;
    padding-left: 50px;
    width: inherit;
    box-shadow: 0 4px 8px #ccc;
}

.Element {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    text-align: left;
    margin-bottom: 25px;
    width: min-content;
    text-align: left;
    font-size: medium;
    border: 2px solid gray;
    border-radius: 10px;
}
.Element input {
    text-align: left;
    font-size: medium;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: inherit; 
}

.Heading {
    font-size: x-large;
}

.Line {
    margin-bottom: 40px;
    margin-right: 50px;
    border-bottom: 3px solid;
}

.Bottom {
    text-align: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;    
}

.AnchorText {
    cursor: pointer;
    color:  rgb(20, 116, 206);
    text-align: right;
    text-decoration: underline;
}

.AnchorText:hover {
    font-weight: bolder;
}

