.App {
  text-align: center;
  background-color: rgb(43, 44, 44);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Image {
  height: 300px;
  width: 400px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}