.App {
  text-align: center;
  width: 95%;
  display: inline-block;
  flex-wrap: wrap;
  padding-left: 4%;
  padding-right: 4%;
}

.App-intro {
  font-weight: bold;
  color: #000;
  text-align:left;
  padding: 25px;
  position: relative;
  top: 0;
  left: 20px;
}

.Layout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 20px;
  padding-left: 2%;
}

.Footer {
  padding: 2%;
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  place-items:inherit;
}


.Button {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: medium;
  background-color: white;
  color: rgb(20, 116, 206);
  font-weight: bold;
}

.Button_Active {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: medium;
  background-color: rgb(20, 116, 206);
  color: white;
  font-weight: bold;
}

.Button_Disabled {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: medium;
  background-color: white;
  color: gray;
}