.App {
  text-align: center;
  background-color: rgb(13, 53, 114);
  background-position: 100%;
}

.App-title {
  color: rgb(131, 202, 250);;
  font-size: 2em;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.red {
  color: red;
}

.green {
  color: green;
}

.bold {
  font-weight: bold;
}

.Button {
  background-color: green;
  font: inherit;
  border: 1px solid blue;
  padding: 10px;
  cursor: pointer;
  color: white;
}

.Button:hover {
  background-color: lightGreen;
  color: black;
}

.Red_button {
  background-color: red;
  color: black;
}

.Red_button:hover {
  background-color: salmon;
  color: blue;
}

.App-body {
  padding: 20px;
  margin: 50px;
  margin-bottom: 200px;
  display: flex;
}


@media (max-width: 750px) {
  .App-body {
    display: inline;
  }
}